/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

/* Hero section styles */
.hero {
    background-image: linear-gradient(rgba(50, 47, 47, 0.009), rgba(18, 18, 18, 0.653), rgba(0, 0, 0, 0.833)), url('./images/main-img.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 14% 0 18% 0;
}

.hero-content {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.hero h1 {
    font-size: 6vw;
    /* -webkit-text-stroke: 0.01px #e9dada9c; */
    color: transparent;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: -76vw 0;
    animation: textAni 5s infinite alternate;
    animation-timing-function: linear;
}
@keyframes textAni {
    100%{
        background-position: -10vw 0;
    }
}

.hero h2 {
    font-size: 5vw;
    color: white;
}

.hero span {
    font-size: 4vw;
    color: white;
}

/* Black box section styles */
.black-box {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 4% 0;
}

.black-box h3 {
    font-size: 5vw;
    font-weight: 400;
}

.black-box span {
    font-size: 7vw;
    color: white;
}

/* Card container section styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    gap: 4%;
    background-color: rgba(245, 238, 229, 0.939);
    padding: 8% 12% 2% 12%;
    height: auto;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.card {
    width: 95%;
    max-width: 95%;
    height: 100%;
    background-color: #fbf5ef;
    border-radius: 5%;
    box-shadow: 0 1vw 1.5vw rgba(0, 0, 0, 0.394);
    padding: 5%;
    background-size: cover;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4%;
}

.card-content h3 {
    font-size: 2.5vw;
    margin: 7% 0;
}


/* Bottom section styles */
.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f7f1ec;
}

.contact-me, .about-me {
    border: 1px solid rgb(171, 165, 166);
    box-shadow: 0.3vw 0.3vw 0.5vw rgba(0, 0, 0, 0.272);
    background-color: rgb(242, 236, 230);
    padding: 2%;
    width: 90%;
    height: 10rem;
    border-radius: 2vw;
    text-align: center;
    margin: 5% ;
}

.contact-me h2, .about-me h2 {
    font-size: 3vw;
    margin-bottom: 2%;
}

/* Media query for responsiveness */
@media screen and (max-width: 900px) {
    .hero {
        min-height: 20vh;
        padding-top: 25%;
    }
    .hero h1 {
        font-size: 6vw;
    }
    .hero h2 {
        font-size: 8vw;
    }
    .hero span {
        font-size: 4vw;
    }
    .black-box h3 {
        font-size: 6vw;
    }
    .card-container {
        grid-template-columns: 1fr;
        gap: 4%;
        padding: 12% 6%;
        height: auto;
    }
    .card {
        width: 80%;
        max-width: 85%;
        margin-bottom: 3%;
    }
    .card-content h3 {
        font-size: 4vw;
    }

    .card img {
        width: 90%;
        height: auto;
        border-radius: 3%;
    }
    .grid-item {
        margin-bottom: 5%;
    }
    .bottom {
        flex-direction: column;
        align-items: center;
        padding: 12% 6% ;
        height: 100%;
    }
    .contact-me, .about-me {
        width: 95%;
        text-align: center;
        padding: 3%;
    }

}
@media screen and (min-width: 901px) and (max-width: 1220px) {
    .card-container {
        grid-template-columns: 1fr 1fr;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    .bottom{
        padding:4%;
    }

}
